@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: whitesmoke;
    background-image: linear-gradient(rgba(0, 0, 255, 0), rgba(96, 96, 205, 0.437));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}